@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_black-webfont.eot');
  src: url('../font/glober/glober_black-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_black-webfont.woff') format('woff'), url('../font/glober/glober_black-webfont.ttf') format('truetype'), url('../font/glober/glober_black-webfont.svg#glober') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_black_italic-webfont.eot');
  src: url('../font/glober/glober_black_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_black_italic-webfont.woff') format('woff'), url('../font/glober/glober_black_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_black_italic-webfont.svg#glober') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_heavy-webfont.eot');
  src: url('../font/glober/glober_heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_heavy-webfont.woff') format('woff'), url('../font/glober/glober_heavy-webfont.ttf') format('truetype'), url('../font/glober/glober_heavy-webfont.svg#glober') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_heavy_italic-webfont.eot');
  src: url('../font/glober/glober_heavy_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_heavy_italic-webfont.woff') format('woff'), url('../font/glober/glober_heavy_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_heavy_italic-webfont.svg#glober') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_xbold-webfont.eot');
  src: url('../font/glober/glober_xbold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_xbold-webfont.woff') format('woff'), url('../font/glober/glober_xbold-webfont.ttf') format('truetype'), url('../font/glober/glober_xbold-webfont.svg#glober') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_xbold_italic-webfont.eot');
  src: url('../font/glober/glober_xbold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_xbold_italic-webfont.woff') format('woff'), url('../font/glober/glober_xbold_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_xbold_italic-webfont.svg#glober') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_bold-webfont.eot');
  src: url('../font/glober/glober_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_bold-webfont.woff') format('woff'), url('../font/glober/glober_bold-webfont.ttf') format('truetype'), url('../font/glober/glober_bold-webfont.svg#glober') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_bold_italic-webfont.eot');
  src: url('../font/glober/glober_bold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_bold_italic-webfont.woff') format('woff'), url('../font/glober/glober_bold_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_bold_italic-webfont.svg#glober') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_semibold-webfont.eot');
  src: url('../font/glober/glober_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_semibold-webfont.woff') format('woff'), url('../font/glober/glober_semibold-webfont.ttf') format('truetype'), url('../font/glober/glober_semibold-webfont.svg#glober') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_semibold_italic-webfont.eot');
  src: url('../font/glober/glober_semibold_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_semibold_italic-webfont.woff') format('woff'), url('../font/glober/glober_semibold_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_semibold_italic-webfont.svg#glober') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_regular-webfont.eot');
  src: url('../font/glober/glober_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_regular-webfont.woff') format('woff'), url('../font/glober/glober_regular-webfont.ttf') format('truetype'), url('../font/glober/glober_regular-webfont.svg#glober') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_regular_italic-webfont.eot');
  src: url('../font/glober/glober_regular_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_regular_italic-webfont.woff') format('woff'), url('../font/glober/glober_regular_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_regular_italic-webfont.svg#glober') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_book-webfont.eot');
  src: url('../font/glober/glober_book-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_book-webfont.woff') format('woff'), url('../font/glober/glober_book-webfont.ttf') format('truetype'), url('../font/glober/glober_book-webfont.svg#glober') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_book_italic-webfont.eot');
  src: url('../font/glober/glober_book_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_book_italic-webfont.woff') format('woff'), url('../font/glober/glober_book_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_book_italic-webfont.svg#glober') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_light-webfont.eot');
  src: url('../font/glober/glober_light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_light-webfont.woff') format('woff'), url('../font/glober/glober_light-webfont.ttf') format('truetype'), url('../font/glober/glober_light-webfont.svg#glober') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_light_italic-webfont.eot');
  src: url('../font/glober/glober_light_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_light_italic-webfont.woff') format('woff'), url('../font/glober/glober_light_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_light_italic-webfont.svg#glober') format('svg');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_thin-webfont.eot');
  src: url('../font/glober/glober_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_thin-webfont.woff') format('woff'), url('../font/glober/glober_thin-webfont.ttf') format('truetype'), url('../font/glober/glober_thin-webfont.svg#glober') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'glober';
  src: url('../font/glober/glober_thin_italic-webfont.eot');
  src: url('../font/glober/glober_thin_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/glober/glober_thin_italic-webfont.woff') format('woff'), url('../font/glober/glober_thin_italic-webfont.ttf') format('truetype'), url('../font/glober/glober_thin_italic-webfont.svg#glober') format('svg');
  font-weight: 100;
  font-style: italic;
}
